<%-include('../partials/header.ejs')  %> 


<form class="card" style="margin: 10px" action="/login" method="POST">
    <div class="card-body">
      <label class="card-title mb-2 text-muted d-block p-2 form-label fs-5" for="formGroupExampleInput">Username</label>
      
      <input class="text-muted mb-2 d-block p-2 form-control" type="text" id="formGroupExampleInput" name="username" placeholder="Username">
     <br>
      <button class="list-group-item-light btn btn-outline-secondary  btn-lg buttonRight" type="submit">Sign In</button>
    </div>

</form>
